<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/nav', null, {cache: !config.relative_link}) %>
  <div id="container">
    <div id="wrap">
      <div class="row">
        <section id="main">
            <% page.posts.forEach(function(item, index) { %>
                <h3> <%- item.title %></h3>
            <% }); %>
        </section>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
  </div>
</body>
</html>