// @import "nib"
@import "_variables"
// @import "_util/mixin"
// @import "_util/grid"
@import "_partial/footer"

global-reset()

html, body
  height: 100%

#container
  // margin 3.33rem auto
  padding: 1rem 1.75rem

.center
  text-align: center

.wrapper
  min-height: 100%
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -5rem

footer, .push 
  height: 5rem


