// @import "nib"
@import "_variables"
// @import "_util/mixin"
// @import "_util/grid"
@import "_partial/footer"
@import "_partial/pagination"

global-reset()

html, body
  height: 100%

#container
  // margin 3.33rem auto
  padding: 1rem 1.75rem

#year
  padding: 0.5rem 1.75rem
  color: white
  background-color: color-concrete-black

.center
  text-align: center

.wrapper
  min-height: 100%
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -5rem

footer, .push 
  height: 5rem

/* Article */
article
  margin: 1.75rem auto

.article-inner
  margin: 1rem auto

.article-meta
  color: color-grey 

.article-time,
.article-tag ul li a 
  color: color-grey
  padding: 0.3rem 0.5rem

.article-tag ul li a:hover
  color: red

.article-time,
.article-tag ul li
  float: left
  
.article-tag ul
  list-style: none

.article-share
  margin: .75rem auto 1rem
  background-color: color-concrete-black
  color: white
  font-size: 1.75rem
  width : 100%


  