// @import "nib"
@import "_variables"
// @import "_util/mixin"
// @import "_util/grid"
@import "_partial/footer"
@import "_partial/pagination"

global-reset()

html, body
  height: 100%

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

#container
  // margin 3.33rem auto
  padding: 1rem 1.75rem

#year
  padding: 0.5rem 1.75rem
  color: white
  background-color: color-concrete-black

.center
  text-align: center

.wrapper
  min-height: 100%
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -5rem

footer, .push 
  height: 5rem

/* Article */
article
  margin: 1.75rem auto

.article-inner
  margin: 1rem auto

.article-meta
  color: color-grey 

.article-time,
.article-tag ul li a 
  color: color-grey
  padding: 0.3rem 0.5rem

.article-tag ul li a:hover
  color: red

.article-time,
.article-tag ul li
  float: left
  
.article-tag ul
  list-style: none

.article-share
  margin: .75rem auto 1rem
  background-color: color-concrete-black
  color: white
  font-size: 1.75rem
  width : 100%

.article-share-box
  width: 100%
  height: 36px
  margin: 1.75rem auto
  border-top: 1px solid color-clouds-grey
  p
    margin: 0.15rem 0.5rem
    float:right
    line-height: 2.75rem
    


$article-share-link
  width: 3rem
  height: 2.75rem
  display: block
  float: right
  position: relative
  color: #999
  text-shadow: 0 1px #fff
  &:before
    font-size: 2.5rem
    font-family: font-icon
    absolute-center(@font-size)
    text-align: center
  &:hover
    color: #fff

.article-share-twitter
  @extend $article-share-link
  &:before
    content: "\f099"
  &:hover
    background: color-twitter
    text-shadow: 0 1px darken(color-twitter, 20%)