footer
  background: color-clouds-grey
  padding: 1rem 0
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
      
#footer-info
  // padding 1.25rem 0
  line-height: 1.5
  font-size: 0.85em